<style>
    a {
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        box-shadow: inset;
        border: 2mm solid rgba(223, 194, 235, 0.6);;
    }
</style>

<a href="/login/google">Log In with Google</a>
